@tailwind base;
@tailwind components;
@tailwind utilities;

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 9999px;
}

::-webkit-scrollbar-track {
  border-radius: 9999px;
  background-color: #eee;
}
