@tailwind base;
@tailwind components;
@tailwind utilities;

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #555; /* Cor do thumb (parte móvel do scrollbar) */
  border-radius: 6px; /* Borda arredondada do thumb */
}

::-webkit-scrollbar-track {
  border-radius: 6px;
  background-color: #eee; /* Cor da trilha (parte fixa do scrollbar) */
}
